.app{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.todoItem{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 25px;
  border: 1px solid black;
  background: grey;
  margin-bottom: 25px;
}

.imageIcon{
  width: 10px;
  height: 10px;
  padding: 10px;
  position: relative;
  bottom: 5px;
}
